In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

## Data Processing
import os
from tqdm import tqdm
from PIL import Image
import cv2

## Storing Relative File Paths of Training & Test Images

In [2]:
train_path = "Data/Training/"
test_path = "Data/Testing/"
img_lbls = [label for label in os.listdir(train_path) if label.isalnum()]
img_lbls

['pituitary', 'notumor', 'glioma', 'meningioma']

In [3]:
def path_generator(ds_path, img_classes):
    file_paths = []
    for img_label in img_classes:
        dir_path = ds_path + img_label + "/"
        for filename in os.listdir(dir_path):
            rel_path = dir_path + filename
            file_paths.append((rel_path, img_label))
    return file_paths

In [4]:
train_paths = path_generator(train_path, img_lbls)
train_paths[0]

('Data/Training/pituitary/Tr-pi_0505.jpg', 'pituitary')

In [5]:
df_train_paths = pd.DataFrame(train_paths, columns = ['rel_path', "img_label"])
df_train_paths

                                     rel_path   img_label
0      Data/Training/pituitary/Tr-pi_0505.jpg   pituitary
1      Data/Training/pituitary/Tr-pi_0263.jpg   pituitary
2      Data/Training/pituitary/Tr-pi_0277.jpg   pituitary
3      Data/Training/pituitary/Tr-pi_1169.jpg   pituitary
4      Data/Training/pituitary/Tr-pi_0511.jpg   pituitary
...                                       ...         ...
5707  Data/Training/meningioma/Tr-me_1053.jpg  meningioma
5708  Data/Training/meningioma/Tr-me_0403.jpg  meningioma
5709  Data/Training/meningioma/Tr-me_0365.jpg  meningioma
5710  Data/Training/meningioma/Tr-me_0371.jpg  meningioma
5711  Data/Training/meningioma/Tr-me_0417.jpg  meningioma

[5712 rows x 2 columns]

In [6]:
test_paths = path_generator(test_path, img_lbls)
df_test_paths = pd.DataFrame(test_paths, columns = ['rel_path', 'img_label'])
df_test_paths

                                      rel_path   img_label
0        Data/Testing/pituitary/Te-pi_0233.jpg   pituitary
1        Data/Testing/pituitary/Te-pi_0227.jpg   pituitary
2        Data/Testing/pituitary/Te-pi_0019.jpg   pituitary
3        Data/Testing/pituitary/Te-pi_0031.jpg   pituitary
4        Data/Testing/pituitary/Te-pi_0025.jpg   pituitary
...                                        ...         ...
1306    Data/Testing/meningioma/Te-me_0080.jpg  meningioma
1307    Data/Testing/meningioma/Te-me_0094.jpg  meningioma
1308    Data/Testing/meningioma/Te-me_0137.jpg  meningioma
1309    Data/Testing/meningioma/Te-me_0123.jpg  meningioma
1310  Data/Testing/meningioma/Te-meTr_0009.jpg  meningioma

[1311 rows x 2 columns]

In [7]:
num_labels = list(range(0,4))
lbl_mapping = {img_lbls[val]: num_labels[val] for val in num_labels}
lbl_mapping

{'pituitary': 0, 'notumor': 1, 'glioma': 2, 'meningioma': 3}

In [8]:
def label2num(label):
    return lbl_mapping[label]

In [9]:
df_train_paths['num_label'] = df_train_paths['img_label'].apply(label2num)
df_test_paths['num_label'] = df_test_paths['img_label'].apply(label2num)

In [10]:
df_train_paths

                                     rel_path   img_label  num_label
0      Data/Training/pituitary/Tr-pi_0505.jpg   pituitary          0
1      Data/Training/pituitary/Tr-pi_0263.jpg   pituitary          0
2      Data/Training/pituitary/Tr-pi_0277.jpg   pituitary          0
3      Data/Training/pituitary/Tr-pi_1169.jpg   pituitary          0
4      Data/Training/pituitary/Tr-pi_0511.jpg   pituitary          0
...                                       ...         ...        ...
5707  Data/Training/meningioma/Tr-me_1053.jpg  meningioma          3
5708  Data/Training/meningioma/Tr-me_0403.jpg  meningioma          3
5709  Data/Training/meningioma/Tr-me_0365.jpg  meningioma          3
5710  Data/Training/meningioma/Tr-me_0371.jpg  meningioma          3
5711  Data/Training/meningioma/Tr-me_0417.jpg  meningioma          3

[5712 rows x 3 columns]

In [11]:
df_test_paths

                                      rel_path   img_label  num_label
0        Data/Testing/pituitary/Te-pi_0233.jpg   pituitary          0
1        Data/Testing/pituitary/Te-pi_0227.jpg   pituitary          0
2        Data/Testing/pituitary/Te-pi_0019.jpg   pituitary          0
3        Data/Testing/pituitary/Te-pi_0031.jpg   pituitary          0
4        Data/Testing/pituitary/Te-pi_0025.jpg   pituitary          0
...                                        ...         ...        ...
1306    Data/Testing/meningioma/Te-me_0080.jpg  meningioma          3
1307    Data/Testing/meningioma/Te-me_0094.jpg  meningioma          3
1308    Data/Testing/meningioma/Te-me_0137.jpg  meningioma          3
1309    Data/Testing/meningioma/Te-me_0123.jpg  meningioma          3
1310  Data/Testing/meningioma/Te-meTr_0009.jpg  meningioma          3

[1311 rows x 3 columns]